@Html.Partial("_Navbar")
<h2>Preenchimento de Formulários</h2>
<br/>
<div class="panel panel-default" ng-controller="homeCtrl">
  <div class="panel-body">
    
  </div>
</div>
@section scripts {
	<script src="/scripts/homeController.js"></script>
}
